<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="not rewrite" stopProcessing="true">
                    <match url="\.(css|js|gif|jpg|png|jpeg|ico|bmp|swf)$" ignoreCase="true" />
                    <action type="None" />
                </rule>
				<rule name="app route" stopProcessing="true">
					<match url="^(.*)$" />
					<action type="Rewrite" url="index.php/{R:1}" />
					<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
			<clear />
			<add value="index.php" />
			<add value="index.html" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>
